/* styles.css */
/* Estilos para el botón "Agregar más inputs" */
.additionalInputs {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background-attachment: fixed;
}

body {
    font-family: Arial, sans-serif;
    margin: 5px;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    justify-content: space-between;
}

.header {
    display: flex;
    align-items: center;
}

.form-container {
    width: 20%;
    height: 90vh;
    background-color: #fff;
    color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #2c3e50;
}

.result-container {
    width: 80%;
    height: 90vh;
    background-color: #bbb9b979;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    margin-bottom: 20px;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

/* Estilo para las opciones del select */
select option {
    padding: 10px;
    font-size: 16px;
    color: #333;
}

/* Estilo para las etiquetas de operación */
label {
    display: block;
    margin-bottom: 8px;
    color: #ffffff;
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

input[type="number"] {
    width: 25%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 20px;
    box-sizing: border-box;

}

input[type="submit"]:hover {
    background-color: #9aa09a;
}

/* ESTILOS DE LA NUEVA VENTANA */

.icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

#analyzeButton {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

#additionalInputStart {
    background-color: #3498db;
    color: rgb(17, 17, 17);
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    font-size: 15px;
}

#resetButton {

    border: none;
    padding: 10px 20px;
    /* Ajusta el padding para incluir la imagen */
    border-radius: 4px;
    cursor: pointer;
    width: auto;
    /* Ajusta según sea necesario */
    position: absolute;
    /* Para posicionar el botón de forma absoluta */
    z-index: 1000;
    /* Asegúrate de que el botón esté encima de otros elementos */
    top: 4%;
    /* Ajusta según sea necesario para posicionar el botón verticalmente */
    left: 93%;
    /* Para centrar horizontalmente */
    transform: translateX(-50%);
    /* Para centrar horizontalmente */
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-icon {
    width: 20px;
    /* Ajusta el tamaño de la imagen */
    height: 20px;
    /* Ajusta el tamaño de la imagen */
    margin-right: 10px;
    /* Espacio entre la imagen y el texto */
}