<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bioinformática</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script>
        function showInputs() {
            const operation = document.getElementById("operation").value;
            const inputContainer = document.getElementById("input-container");
            const extraInputs = document.getElementById("extra-inputs");

            if (operation !== "") {
                inputContainer.style.display = "block";
                // Clear previous extra inputs
                extraInputs.innerHTML = "";

                // Add extra inputs based on the selected operation
                if (operation === "sub_cadena") {
                    extraInputs.innerHTML = `
                        <label for="sequence1">Secuencia 1:</label>
                        <input type="text" id="sequence1" name="sequence1" placeholder="Ingrese su secuencia" value="{{ sequence1 }}" maxlength="30"><br><br>
                        <label for="sequence2">Secuencia 2:</label>
                        <input type="text" id="sequence2" name="sequence2" placeholder="Ingrese su secuencia" value="{{ sequence2 }}" maxlength="30"><br><br>
                    `;
                }
                else if (operation === "transcripcion_adn_arn") {
                    extraInputs.innerHTML = `
                        <label for="sequence">Secuencia:</label>
                        <input type="text" id="sequence" name="sequence" placeholder="Ingrese su secuencia" value="{{ sequence }}" maxlength="30"><br><br>
                    `;
                }
                else if (operation === "identificar_secuencia") {
                    extraInputs.innerHTML = `
                        <label for="sequence">Secuencia:</label>
                        <input type="text" id="sequence" name="sequence" placeholder="Ingrese su secuencia" value="{{ sequence }}" maxlength="30"><br><br>
                    `;
                }
                else if (operation === "mayusculas") {
                    extraInputs.innerHTML = `
                        <label for="sequence1">Secuencia 1:</label>
                        <input type="text" id="sequence1" name="sequence1" placeholder="Ingrese su secuencia" value="{{ sequence1 }}" maxlength="30"><br><br>
                        <label for="sequence2">Secuencia 2:</label>
                        <input type="text" id="sequence2" name="sequence2" placeholder="Ingrese su secuencia" value="{{ sequence2 }}" maxlength="30"><br><br>
                    `;
                }
                else if (operation === "coincidencias") {
                    extraInputs.innerHTML = `
                        <label for="sequence1">Secuencia 1:</label>
                        <input type="text" id="sequence1" name="sequence1" placeholder="Ingrese su secuencia" value="{{ sequence1 }}" maxlength="30"><br><br>
                        <label for="sequence2">Secuencia 2:</label>
                        <input type="text" id="sequence2" name="sequence2" placeholder="Ingrese su secuencia" value="{{ sequence2 }}" maxlength="30"><br><br>
                    `;
                }
                else if (operation === "needleman_wunsch" || operation === "smith_waterman") {
                    extraInputs.innerHTML = `
                        <label for="sequence1">Secuencia 1:</label>
                        <input type="text" id="sequence1" name="sequence1" placeholder="Ingrese una secuencia" value="{{ sequence1 }}" maxlength="30"><br><br>
                        <label for="sequence2">Secuencia 2:</label>
                        <input type="text" id="sequence2" name="sequence2" placeholder="Ingrese una secuencia" value="{{ sequence2 }}" maxlength="30"><br><br>
                        <label for="match">Match:</label>
                        <input type="number" id="match" name="match" placeholder="#" value="{{ match }}"><br><br>
                        <label for="mismatch">Mismatch:</label>
                        <input type="number" id="mismatch" name="mismatch" placeholder="#" value="{{ mismatch }}"><br><br>
                        <label for="gap">Gap:</label>
                        <input type="number" id="gap" name="gap" placeholder="#" value="{{ gap }}"><br><br>
                    `;
                }

                else if (operation === "Clustering Distancia Mínima" || operation === "Clustering Distancia Máxima" || operation === "Clustering Distancia Promedio") {
                    extraInputs.innerHTML = `
                        <label for="distanceMatrix">Matriz de distancia:</label>
                        <textarea id="distanceMatrix" name="distanceMatrix" rows="4" placeholder="Ingrese la matriz de distancia"></textarea>
                    `;
                }
                else if (operation === "star_alignment") {
                    extraInputs.innerHTML = `
                        <label for="match">Match:</label>
                        <input type="number" id="match" name="match" placeholder="#" value="{{ match }}"><br><br>
                        <label for="mismatch">Mismatch:</label>
                        <input type="number" id="mismatch" name="mismatch" placeholder="#" value="{{ mismatch }}"><br><br>
                        <label for="gap">Gap:</label>
                        <input type="number" id="gap" name="gap" placeholder="#" value="{{ gap }}"><br><br>
                        <div id="additionalInputsContainer" style="max-height: 200px; overflow-y: auto;">

                            <label for="sequence1">Secuencia 1:</label>
                            <input type="text" id="sequence1" name="sequence1" placeholder="Ingrese su secuencia" value="{{ sequence1 }}" maxlength="30"><br><br>
                            <label for="sequence2">Secuencia 2:</label>
                            <input type="text" id="sequence2" name="sequence2" placeholder="Ingrese su secuencia" value="{{ sequence2 }}" maxlength="30"><br><br>
                            <div id="additionalInputs">
                                <!-- Aquí se agregarán dinámicamente los nuevos inputs -->
                            </div>
                        </div>    
                        <button id="additionalInputStart" type="button" onclick="addMoreInputs()">Agregar más inputs</button>
                    `;
                
                }

            } else {
                inputContainer.style.display = "none";
            }
        }
        function addMoreInputs() {
            const additionalInputs = document.getElementById("additionalInputs");
            const newInputIndex = additionalInputs.childElementCount + 3;
            const newInput = document.createElement('div');
            newInput.innerHTML = `
                <label for="sequence${newInputIndex}">Secuencia ${newInputIndex}:</label>
                <input type="text" id="sequence${newInputIndex}" name="sequences[]" placeholder="Ingrese su secuencia" maxlength="30"><br><br>
            `;
            additionalInputs.appendChild(newInput);
        }
        
        window.addEventListener('DOMContentLoaded', (event) => {
            const operation = document.getElementById("operation").value;
            if (operation === "") {
                document.getElementById("input-container").style.display = "none";
            } else {
                document.getElementById("input-container").style.display = "block";
                showInputs();  // Ensure extra inputs are shown on load if an operation is selected
            }
        });
    </script>
</head>

<body>
    <div class="container">
        <div class="form-container">
            <div class="header">
                <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M2 15c6.667-6 13.333 0 20-6" />
                    <path d="M9 22c1.798-1.998 2.518-3.995 2.807-5.993" />
                    <path d="M15 2c-1.798 1.998-2.518 3.995-2.807 5.993" />
                    <path d="m17 6-2.5-2.5" />
                    <path d="m14 8-1-1" />
                    <path d="m7 18 2.5 2.5" />
                    <path d="m3.5 14.5.5.5" />
                    <path d="m20 9 .5.5" />
                    <path d="m6.5 12.5 1 1" />
                    <path d="m16.5 10.5 1 1" />
                    <path d="m10 16 1.5 1.5" />
                </svg>
                <h2>Bioinformatics</h2>
            </div>
            <form action="/analizar" method="post">
                <label for="operation">Operación:</label>
                <select id="operation" name="operation" onchange="showInputs()">
                    <option value="" {% if operation=='' %} selected {% endif %}>Seleccione una operación</option>
                    <!-- <option value="mayusculas" {% if operation == 'mayusculas' %} selected {% endif %}>Mostrar en mayúsculas</option>
                    <option value="coincidencias" {% if operation == 'coincidencias' %} selected {% endif %}>Encontrar coincidencias</option> -->
                    <option value="identificar_secuencia" {% if operation=='identificar_secuencia' %} selected {% endif
                        %}>Identificador de Secuencia</option>
                    <option value="transcripcion_adn_arn" {% if operation=='transcripcion_adn_arn' %} selected {% endif
                        %}>Transcripción de ADN</option>
                    <option value="sub_cadena" {% if operation=='sub_cadena' %} selected {% endif %}>
                        Identificador de Substrings en Secuencias</option>
                    <option value="needleman_wunsch" {% if operation=='needleman_wunsch' %} selected {% endif %}">
                        Alineamiento Global</option>
                    <option value="smith_waterman" {% if operation=='smith_waterman' %} selected {% endif %}>
                        Alineamiento Local</option>
                    <option value="star_alignment" {% if operation=='star_alignment' %} selected {% endif %}>
                        Alineamiento Estrella</option>
                    <option value="Clustering Distancia Mínima">Clustering Distancia Mínima</option>
                    <option value="Clustering Distancia Máxima">Clustering Distancia Máxima</option>
                    <option value="Clustering Distancia Promedio">Clustering Distancia Promedio</option>
                </select><br><br>

                <div id="input-container" {% if operation=='' %}style="display:none;" {% endif %}>

                    <div id="extra-inputs">
                    </div>
                </div>

                <input id="analyzeButton" type="submit" value="Analizar">
            </form>
        </div>
        <button id="resetButton" onclick="window.location.href='/'">
            <img src="static/images/cerrar-sesion.png" alt="Reiniciar" class="button-icon"> Salir
        </button>
        <div class="result-container">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>

</html>
